.user-input {
  padding: 16px;
  font-family: "Quicksand", sans-serif;
}

.input-group {
  background: rgb(48, 158, 116);
  background: linear-gradient(
    0deg,
    rgba(48, 158, 116, 1) 40%,
    rgba(48, 128, 109, 1) 100%
  );
  padding: 3rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  flex-wrap: wrap;
  display: flex;
}

.user-input label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.user-input input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #71bdaaff;
  width: 20rem;
  max-width: 100%;
  background-color: transparent;
  color: #71bdaaff;
}
